@font-face {
   font-family: 'Exo BlackItalic';
   src: url('Exo BlackItalic/font.ttf');
}
@font-face {
   font-family: 'Sofia Pro';
   src: url('Sofia Pro/font.ttf');
}
@font-face {
   font-family: 'Sofia Pro Light';
   src: url('Sofia Pro Light/font.ttf');
}
